* {
    box-sizing: border-box;
    color: #000;
}

:root {
    --lavender-100: #E6E6FA;
    --lavender-200: #8d8dd8;
    --lavender-300: #6E6EEC;
    --lavender-400: #bfbff5;
    --lavender-500: #B2B2FF;

    --gray-100: #D9D9D9;
}

html {
    min-height: 100%;
    width: 100vw;
    position: relative;
}
body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #FFF;
    color: #000;
}
input,
button {
    outline: none;
    border-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

@media (hover: hover) and (pointer: fine) {
    ::-webkit-scrollbar {
        width: 0.7em;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--lavender-400);
        border-radius: 500px;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: var(--gray-900);
    }
}
.root {
    padding: 0 50px;
}

@media screen and (max-width: 600px) {
    .root {
        padding: 0;
    }
}